<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

		<%- include('partials/head') %> 

	<body class="body">
		<% if (locals.user != undefined){ %> 
			<%- include('partials/headerLogueado') %> 
		<% }else { %> 
			<%- include('partials/headerDeslogueado') %> 
		<% } %>  

	<!-- Novedades -->
	<div class="container products-wrapper">
		<!-- <div class="row"> -->
			<div class="login">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			
	<section >
		<form class="formLogin" method="post" action="/usuario/login">

			<div class=" casilla">
				<input type="email" placeholder="Email" class="inputs" name="email">
			</div>
		
			<div class=" casilla">
				<input type="password" placeholder="Contraseña" class="inputs" name="password">
				
			</div>

			<div class=" casilla">
				<input type="checkbox" class="checkbox" name="recordarme">
			<label for="recordame" class="recordarme">recordarme</label>

			</div>

			<button class="botonlogin" type="submit">Confirmar</button>

		</form>
		
		<% if(locals.error){  %> 
			<p style> <%= error.message %> </p>
		<% } %> 

	</section>
				
	<%- include('./partials/footer')  %> 
</body>

</html>