<!DOCTYPE html>
<html lang="es">
    <!-- Include Head -->
    <%- include('partials/head') %>

<body class="body">
    <!-- Header -->
	<% if (locals.user != undefined){ %> 
		<%- include('partials/headerLogueado') %> 
	<% }else { %> 
		<%- include('partials/headerDeslogueado') %> 
	<% } %>  

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"> <%= producto.marca %>   <%= producto.modelo %> </h2>
			<div class="usuario_producto">
				<a href="/perfil/ <%= producto.User.id %> "> <h3 style="margin-top: 3px; font-size: 16px;">  <%= producto.User.name %></h3></a>  
			</div>
            
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/<%= producto.image %>" alt="" class="product-detail-img">
                    <p class="product-detail-description"> Descripcion del producto: <%= producto.descripcion %> </p>
					<p class="product-detail-description"> Estado del producto: <%= producto.estado %> </p>
					<p class="product-detail-description"> Propietario: <%= producto.User.userName %> </p>
					<p class="product-detail-description"> Ante cualquier consulta: <%= producto.User.email %> </p>
					
                </article>
                <div class="col-12 col-lg-4">
					<section class="comments">
                        <% for( let i = 0; i < producto.Comment.length; i++ ) { %>
                            <article>
                                <img src="https://via.placeholder.com/35" <%= producto.Comment[i].User.image %> alt="">
                                <div class="data">
                                <p class="user">
                                <strong> <a href="/usuario"><%= producto[i].User.id %> <%= producto[i].User.userName  %> </a> </strong>
                                <%= producto[i].Comment.comments %></p>
                                </div>
                            </article>
                        <% } %>
                    </section>
                    <% if(locals.user != undefined) { %>
                        <form class="form" action="/comentarios/comentar/<%= producto.id %>" method="POST">
                            <input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario" >
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                        <% } %>
                    }
                    
                
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- /product detail -->

    <!-- footer -->
    <%- include('./partials/footer')  %>
    <!-- /footer -->

</body>
</html>
