<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('partials/head') %> 

<body>
	<!-- Header -->
	
	<%if(logueado==true){%>
		<%- include("partials/headerLogueado")%>
	<%}else{%>
		<%- include("partials/headerDeslogueado")%>
	<%}%>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Samsung S10</h2> 
			<p class="product-detail-description">
				<a href="/producto/add">Agregar producto</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/samsungS10.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						La pantalla del Galaxy S10 Plus es un panel Dynamic AMOLED que cuenta con una resolución QHD+ debido a su formato 19:9. El panel es de 6,4 pulgadas y la densidad de píxeles es de 525 píxeles por pulgada, una densidad de píxeles que lo coloca en la gama top.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < comentario.length; i++ ) { %>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
                                <div class="data">
                                <p class="user">
                                <strong> <a href="/usuario"><%= comentario[i].usuario %></a> </strong>
                                <%= comentario[i].texto %></p>
                                </div>
                            </article>
                        <% } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>