<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

		<%- include('partials/head') %> 

	<body class="body">
		<% if (locals.user != undefined){ %> 
			<%- include('partials/headerLogueado') %> 
		<% }else { %> 
			<%- include('partials/headerDeslogueado') %> 
		<% } %>  

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="subtitulo">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				<% if(locals.errores){  %> 
					<p style> <%= errores.message %> </p>
				<% } %> 


<form class="formLogin" method="POST" enctype="multipart/form-data" action="/producto/editar/<%= producto.id%>">

				<div >
					<input type="text"  placeholder="Marca" class="inputs" name="marca" value="<%= producto.marca %>">
				</div>

				<div >
					<input type="text"  placeholder="Modelo" class="inputs" name="modelo" value="<%= producto.modelo %>">
				</div>

				<div >
					<input type="text"  placeholder="Estado" class="inputs" name="estado" value="<%= producto.estado %>">
				</div>

				<div >
					<input type="text"  placeholder="Color" class="inputs" name="color" value="<%= producto.color %>">
				</div>

				<div >
					<input type="text"  placeholder="Descripcion del producto" class="inputs" name="descripcion" value="<%= producto.descripcion %>">
				</div>
		
				<div>
					<input type="file"  placeholder="imagen" class="inputs" name="imagen">
			
				</div>

				<button class="botonLogin">Modificar</button>
			</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>