<!DOCTYPE html>
<html lang="es">
	
		<%- include('partials/head') %> 

	<body class="body">
		<% if (locals.user != undefined){ %> 
			<%- include('partials/headerLogueado') %> 
		<% }else { %> 
			<%- include('partials/headerDeslogueado') %> 
		<% } %>  


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="login">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<section>
				<% if(locals.errores){  %> 
					<p style> <%= errores.message %> </p>
				<% } %> 
			<form class="formLogin" action="/usuario/editar" method="post" enctype="multipart/form-data">
				<div class ="casilla">
					<input type="text" name="usuario" placeholder="Nombre de usuario" value="<%=user.userName%>" class="inputs">
			
				</div>
			
			
			
				<div class ="casilla">
					<input type="email" name="email"placeholder="email" value="<%=user.email%>" class="inputs">
				</div>
			
				
				<div class ="casilla">
					<input type="file" name="foto" placeholder="Foto de perfil" class="inputs">
				
				</div>
			
				<button type="submit"  role="botonlogin" class="confirmarE">Confirmar</button>
			</form>
		</section>

		<%- include('./partials/footer')  %> 
</body>

</html>