<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

	<body class="body">
		<%- include('partials/headerLogueado') %>


			<!-- Datos del usuario -->
			<section class="info-usuario container products-wrapper">
				<div class="row">
					<div class="img-container offset-3 col-2">
						<img src="/images/<%=data.image%>" alt="foto de perfil" class="foto-perfil">
					</div>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h1 class="tituloPerfil">
								<%=data.userName%>
									<%if(data.id==user.id){%>
										<a href="/usuario/editar">
											<i class="editarPerfil">Editar perfil</i>
										</a>
										<%}%>
							</h1>
							<%if(data.id != user.id){%>
								<a class="btn mt-3 ml-4" href="/usuario/seguir/<%=data.id%>">SEGUIR</a>
								<%}%>

						</div>
						<div class="d-flex align-items-center ">
							<h1 class="email">
								<%=data.email%>
						</div>

						<div>
							<ul>
								<li class="perfil">
									<%= data.Product.length%> productos
								</li>
								<li class="perfil">
									<%= data.Followers.length%> seguidores
								</li>
								<li class="perfil">
									<%= data.Comment.length%> comentarios
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- /Datos del usuario -->

			<!-- Mis productos -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Mis productos</h2>
					</div>
					<!-- Show mis productos -->
					<% for (let i=0; i<data.Product.length; i++){%>
						<% let producto=data.Product[i]%>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="/producto/<%= producto.id%>">
										<figure class="product-box_image">
											<img src="/images/products/<%= producto.image%>" alt="cafetera moulinex">
										</figure>
										<article class="product-box_data">
											<h2>
												<%= producto.marca%>
											</h2>
											<p>
												<%= producto.descripcion%>
											</p>
											<p>Comentarios: 12</p>
										</article>
									</a>
								</section>
							</div>
							<% }%>

				</div>
			</div>
			<!-- /Mis productos -->

			<%- include('./partials/footer') %>
	</body>

</html>