<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head') %> 

	<%- include('partials/headerLogueado', {usuarios: usuarios}) %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/">
				<div>
					<input type="text"  placeholder="<%=usuarios[0].usuario%>" class="inputs">
			
				</div>
			
				<div >
					<input type="dni"   placeholder="<%=usuarios[0].documento%>" class="inputs">
					<input type="date"  placeholder="<%=usuarios[0].fechaDeNacimiento%>" class="inputs">
				</div>
			
				<div>
					<input type="email" placeholder="<%=usuarios[0].email%>" class="inputs">
				</div>
			
				<div>
					<input type="password"  placeholder="<%=usuarios[0].contraseña%>" class="inputs">
					<input type="password"  placeholder="<%=usuarios[0].contraseña%>" class="inputs">
				</div>

				<div>
					<input type="file"  placeholder="<%=usuarios[0].fotoPerfil%>" class="inputs">
				
				</div>
			
				<a href="/"  role="button" class="confirmar">Confirmar</a>
			</form>


		<%- include('./partials/footer')  %> 
</body>

</html>